.package-manager {
  display: flex;
  width: 80%;
  gap: 20px;
}
.package-container {
  flex: 1;
}
.package-input-container {
  display: flex;
  gap: 10px;
}
.package-input {
  flex-grow: 1;
  padding: 8px;
}
.package-button {
  padding: 8px 12px;
  cursor: pointer;
}
.package-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.package-doc,
.package-list-container {
  flex: 1;
}
.package-list {
  list-style: none;
  padding: 0;
}
.package-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.package-remove-button {
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
}
