:root {
  --bg: #313335;
  --text: #a9b7c6;
  --hover: #3c3f41;
  --selected: #2b2b2b;
  --blue: #4a7ebb;
}

.folder-children {
  margin-left: 12px;
}

.folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  margin: 2px 0;
  font-size: 15px;
  color: var(--text);
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  border-radius: 3px;
  background-color: transparent;
}

.folder:hover {
  background-color: var(--hover);
}

.folder > span {
  margin-right: 8px;
  font-weight: 500;
}

.folder span svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  fill: var(--text);
}

.file {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text);
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
}

.file svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  fill: var(--text);
}

.file:hover {
  background-color: var(--hover);
}

.folder > div > button {
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 3px;
  color: var(--text);
}

.folder > div > button:hover {
  background-color: var(--hover);
}

.folder > div > button > svg {
  font-size: 14px;
  width: 16px;
  height: 16px;
  fill: var(--text);
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: var(--bg);
}

.inputContainer > span {
  font-size: 13px;
  color: var(--text);
}

.inputContainer__input {
  padding: 3px 6px;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  outline: none;
  background: var(--bg);
  color: var(--text);
}

.inputContainer__input:focus {
  border-color: var(--blue);
}

.inputContainer__input::placeholder {
  color: rgba(169, 183, 198, 0.6);
}

.selected {
  background: var(--selected);
  outline: 1px solid var(--blue);
}
